
/**************** PÁGINA INDEX ****************/

/**************** GENERAL ****************/

a{
	text-decoration: none;
}

img{
	max-width: 100%
}

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	/*  fondo degradado usar las dos lineas se cambian los colores */
	background: -webkit-radial-gradient(#06f, #fff);
	background: -moz-radial-gradient(#06f, #0f0);
}


/**************** HEADING ****************/

#logo{
	text-align: center;
	margin: 0;
}

header{
	float: left;
	margin: 0 0 30px 0;
	width: 100%;
	background-color: #37da7b;
	/*border-color: #1d766f;*/
}

h1
{
	text-align: center;
	background-color: #37da7b;
	font-family: 'Ubuntu', sans-serif;
	margin: 15px 0;
	font-weight: bold;
	padding: 15px, 10px;
	/*line-height: 1,5em;*/
}

h2{
	font-family: 'Droid Serif', serif;
	text-align: center;
	margin: 15px 0;
	font-weight: bold;
	/*background: #66a1d2;*/
	padding: 15px, 10px;
}

h1,h2{
	color: #ffffff;
}


/**************** NAVIGATION ****************/

nav li {
	display: inline-block;
}

nav{
	background: #ffc473;
}

nav a, nav a:visited{
	color: #1144aa;
	font-weight: 800;
	padding: 15px, 10px;
}

/*cambia de color al estar seleccionada*/
nav a.selected{
	font-weight: bold;
	color: #A64800;
}

/*cambia de color al pasar el mouse por encima*/
nav a:hover{
	color: #c9a05a;
}


nav li{
	list-style: none;
	margin: 0 25px;
	padding: 0 10px;
}


nav ul{
	margin-bottom: 0px;
}




/**************** GALERIA ****************/


#galeria{
	margin:0;
	padding: 0;
	list-style: none;
}

#galeria li{
	float: left;
	width: 45%;
	margin: 2.5%;
}

#galeria li a p{
	margin: 0;
	padding: 5%;
	font-size: 0,75em;
}


/**************** FOOTER ****************/

footer{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: orange;
	background-color: #EAEAEA;
	/*clear: both;
	position:fixed;
    bottom:0;
    width:100%;
   	text-align: center;
	*/
}

.social-icon{
	width: 30px;
	height: 30px;
	margin: 0 5px;
}



/**************** PÁGINA ABOUT ****************/

.profile-photo{
	display: block;
	max-width: 300px;
	margin: 0 auto 30px;
	border-radius: 15%;
	/*dole borde*/
	border: 5px solid #ddd;
    padding: 5px; /*Inner border size*/
    background: #fff; /*Inner border color*/
}

/**************** PÁGINA CONTACTO ****************/

.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info li.phone a{
	background-image: url("../img/phone.png");
}

.contact-info li.mail a{
	background-image: url("../img/mail.png");
}

.contact-info li.twitter a{
	background-image: url("../img/twitter2.png");
}

.contact-info a{
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

section p{margin: 0}