footer{
	text-align: center;
	color: orange;
	background-color: #EAEAEA
}

a{
	text-decoration: none;
}

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	/*background: #FFF8AE;*/
	/*background: rgba(179,220,237,1);
	background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
	background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );*/
	/*  fondo degradado usar las dos lineas se cambian los colores */
	background: -webkit-radial-gradient(#06f, #fff);
    background: -moz-radial-gradient(#06f, #0f0);
}

#logo{
	text-align: center;
	margin: 0;
}

header{
	background: #66a1d2;
	border-color: #1d766f;
}

h1,h2{
	color: #ffffff;
}

nav{
	background: #ffc473;
}

nav a, nav a:visited{
	color: #1144aa;
}