
/**************** GENERAL ****************/

a{
	text-decoration: none;
}

img{
	max-width: 100%
}

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	/*  fondo degradado usar las dos lineas se cambian los colores */
	background: -webkit-radial-gradient(#06f, #fff);
	background: -moz-radial-gradient(#06f, #0f0);
}


/**************** HEADING ****************/

#logo{
	text-align: center;
	margin: 0;
}

header{
	background: #66a1d2;
	border-color: #1d766f;
}

h1
{
	text-align: center;
	background-color: #37da7b;
	font-family: 'Ubuntu', sans-serif;
	margin: 15px 0;
	font-weight: bold;
	line-height: 2em;
}

h2{
	font-family: 'Droid Serif', serif;
	text-align: center;
	margin: 15px 0;
	font-weight: bold;
}

h1,h2{
	color: #ffffff;
}


/**************** NAVIGATION ****************/

nav{
	background: #ffc473;
}

nav a, nav a:visited{
	font-weight: bold;
	color: #1144aa;
}

/*cambia de color al estar seleccionada*/
nav a.selected{
	font-weight: bold;
	color: #A64800;
}

/*cambia de color al pasar el mouse por encima*/
nav a:hover{
	color: #c9a05a;
}


/**************** GALERIA ****************/


#galeria{
	margin:0;
	padding: 0;
	list-style: none;
}

#galeria li{
	float: left;
	width: 45%;
	margin: 2.5%;
}

#galeria li a p{
	margin: 0;
	padding: 5%;
	font-size: 0,75em;
}


/**************** FOOTER ****************/

footer{
	clear: both;
	position:fixed;
    bottom:0;
    width:100%;
   	text-align: center;
	color: orange;
	background-color: #EAEAEA
}