@media screen and (min-width: 480px){
    #primary {
           width: 50%;
            float: left;  
        }

    #secondary {
            width: 30%;
            float: right;
        }

    #galeria li{
        width: 28.3333%
    }

    #galeria li:nth-child(3n+1){
        clear: left;
    }

    .profile-photo{
        float: left;
        margin: 0 5% 120% 0;
    }

}

@media screen and (min-width: 660px){
    nav{
        display: inline-block;
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%
    }

    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

    header{
        border-bottom: 5px solid #599a68;
        margin-bottom: 60px;
    }
}


@media screen and (min-width: 480px){
    background:navy;
}
        

@media screen and (min-width: 660px){
    body{
        /*background: darkgreen;*/
        background: -webkit-radial-gradient(#06f, #fff);
        background: -moz-radial-gradient(#06f, #0f0);
    }
}



