
@media screen and (min-width: 480px)
{
    body{
        background: navy;
    }
}


@media screen and (min-width: 660px)
{
    body{
        /*background: darkgreen;*/
        background: -webkit-radial-gradient(#06f, #fff);
    background: -moz-radial-gradient(#06f, #0f0);
    }
}

/*

@media all and (max-width: 1200px) {
    section.ul {
        display: inline-block;
        padding:0px 6px;
        margin:0px 4px;
    }
}

@media all and (max-width: 840px) {
    section.ul {
        margin:0px;
        padding:0px;
        padding-left:5%;
        display:block;
        float:none;
        text-align:left;
    }
}


@media all and (max-width: 520px) {
    section.ul{
        padding-left:20%;
    }
}

@media all and (max-width: 600px){
    section.ul{
        width:100%;
        height:auto;
        margin-left:10px;
    }
}*/